.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.welcome-section {
    text-align: center;
    margin-bottom: 30px;
}

.enrolled-courses,
.top-liked-courses,
.latest-courses,
.top-liked-articles,
.latest-articles {
    margin-bottom: 40px;
}

.course-list,
.article-list {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto; 
    gap: 20px;
}

.course {
    flex: 0 0 auto;
    width: 300px;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

.course img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}

.course h3,
.course p {
    margin: 0;
}

.button-group1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.button-group2 {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    width: 100%;
}

button {
    display: inline-block;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #00218b;
    color: #fee;
}

.enroll-btn {
    background-color: #007bff;
    color: #fff;
}

.like-btn {
    margin: 2px;
    background-color: #dc3545;
    color: #fff;
}

.read-btn {
    background-color: #fcc;
    margin: 2px;
    width: 100%;
}

.read-btn:hover {
    background-color: #1a015e;
    color: #ffa7c2;
}


.article {
    flex: 0 0 auto;
    width: 100%; 
    max-width: 300px; 
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex; 
    flex-direction: row; 
    align-items: center;
}

.article img {
    width: 150px; 
    height: 150px; 
    object-fit: cover;
    border-radius: 5px;
    margin-right: 20px; 
}

.article-info {
    flex-grow: 1; 
}

.article h3 {
    font-size: 18px;
}

.article p {
    margin-top: 5px;
    font-size: 14px;
    color: #666;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}


/** Scroll buttons **/
.scroll-container {
    position: relative;
}

.scroll-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 2em;
    color: #333;
}

.scroll-btn.left {
    left: -1em;
}

.scroll-btn.right {
    right: -1em;
}


/* Category section */
.categories {
    padding: 20px;
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between; 
}

.category {
    position: relative;
    width: calc(25% - 20px);
    height: calc(25% - 20px); 
    margin: 10px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.8);
}

.category img {
    filter: brightness(50%);
    transition: filter 0.5s ease;
}

.category:hover img {
    filter: brightness(100%); 
}

.category-content {
    position: relative;
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.category-content h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 1); 
}

.category:hover .category-content {
    transform: scale(1.1);
    opacity: 0.7;
}

.category:hover {
    cursor: pointer;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .category {
        width: calc(50% - 20px); 
        height: calc(50% - 20px); 
    }
}
