/* Header CSS */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    position: relative;
    padding-top: 70px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #4A47A3;
    color: #fff;
    top: 0;
    z-index: 1000;
    position: fixed;
    width: 97%;
}

.header-logo img {
    height: 70px;
    margin-left: 20px;
}

.menu {
    list-style: none;
    display: flex;
    gap: 30px;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.menu li a:hover {
    color: #ddd;
}

.mobile-menu-toggle {
    display: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    .menu {
        display: none;
    }

    .mobile-menu-toggle {
        display: block;
    }

    .menu.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60%;
        right: 0;
        background-color: #4A47A3;
        width: 95%;
        padding: 20px;
        padding-left: 10px;
        gap: 10px;
    }
}
